<p><strong>Alvorlig bl&oslash;dning</strong></p>
<p><strong>Situasjonen</strong></p>
<ul>
<li>Et alvorlig blodtap m&aring; kontrolleres s&aring; snart som mulig</li>
<li>Hvis den skadete mister mye blod, kan det oppst&aring; sjokk og vedkommende vil etter hvert miste bevisstheten</li>
</ul>
<p><strong>Diagnosen</strong></p>
<ul>
<li>Sjekk om det foreligger ytre bl&oslash;dning&nbsp;</li>
<ul>
<li>Synlig bl&oslash;dning? Bl&oslash;dning gjennom kl&aelig;rne?</li>
</ul>
<li>Se etter tegn p&aring; sjokk&nbsp;</li>
<ul>
<li>Blekhet, kaldsvetting, kvalme, svimmelhet, vil falle bort</li>
<li>Sjekk regelmessig bevissthetsniv&aring;et, pulsen blir raskere, og pusten rask og mer overflatisk ved sjokk</li>
</ul>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>Legg den skadede ned p&aring; ryggen&nbsp;</li>
<li>Fjern ev. skitt og lort fra s&aring;ret&nbsp;</li>
<ul>
<li>Ikke fjern gjenstander som er stukket inn i den skadede</li>
<li>Ikke sonder s&aring;ret eller fors&oslash;k &aring; gj&oslash;re mer omfattende rengj&oslash;ring av s&aring;ret</li>
<li>Din hovedoppgave er &aring; stanse bl&oslash;dningen</li>
</ul>
<li>Stans bl&oslash;dningen&nbsp;</li>
<ul>
<li>Trykk direkte mot s&aring;ret med en steril bandasje, et rent t&oslash;ystykke eller en bit av et klesplagg. Hvis ikke noe annet er tilgjengelig, bruk h&aring;nden din</li>
<li>Hold trykket til bl&oslash;dningen har stanset. N&aring;r den gj&oslash;r det, bandasjer s&aring;ret stramt med hefteteip eller en bandasje. Hvis ingenting er tilgjengelig, bruk et rent t&oslash;ystykke</li>
</ul>
<li>Hvis bl&oslash;dningen fortsetter&nbsp;</li>
<ul>
<li>Selv om det bl&oslash;r gjennom bandasjen eller det materialet du holder mot s&aring;ret, ikke fjern det</li>
<li>Legg heller p&aring; mer absorberbart materiale</li>
<li>Hvis bl&oslash;dningen ikke stanser med direkte trykk, pr&oslash;v &aring; trykke mot puls&aring;ren (arterien) som leverer blodet til omr&aring;det der s&aring;ret er</li>
<li>Trykkpunkter p&aring; armen er p&aring; innsiden av overarmen like ovenfor albuen og like nedenfor armhulen</li>
<li>Trykkpunkter i beina er i knehasen og i lysken. Klem hovedpuls&aring;ren p&aring; disse stedene mot beinet. Hold fingrene flate</li>
<li>Med den andre h&aring;nden fortsetter du &aring; trykke mot selve s&aring;ret</li>
</ul>
<li>Immobiliser den skadede kroppsdelen&nbsp;</li>
<ul>
<li>N&aring;r bl&oslash;dningen har stanset, immobiliseres den skadede kroppsdelen</li>
<li>La bandasjene forbli og f&aring; den skadede til sykehus snarest</li>
</ul>
<li>Ring 113 for medisinsk n&oslash;dhjelp</li>
<li>Blir den skadete bevisstl&oslash;s (<a href="http://nhi.no/forside/forstehjelp/bevisstloshet/bevisstlos-under-8-ar-18727.html"><span>barn</span></a>/<a href="http://nhi.no/forside/forstehjelp/bevisstloshet/bevisstlos-over-8-ar-18728.html"><span>voksen</span></a>), m&aring; du gj&oslash;re deg klar for eventuelt &aring; starte med hjertelungeredning</li>
</ol>