<p><strong>Ankelskade</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Nedkj&oslash;ling&nbsp;</li>
<ul>
<li>F&aring; den skadete til &aring; ligge nede og l&oslash;ft benet slik at ankelen holdes over kroppsniv&aring;</li>
<li>St&oslash;tt ankelen i en behagelig posisjon, f.eks. opp&aring; kneet ditt</li>
<li>Hvis skaden nettopp har oppst&aring;tt, kj&oslash;l ned ankelen ved &aring; legge p&aring; en kald kompress i 10 minutter og vurder s&aring; skaden p&aring; ny</li>
<li>Legg p&aring; kalde kompresser i 10-minutters intervaller i opptil 30 minutter om n&oslash;dvendig</li>
</ul>
<li>Kompresjon, bandasje rundt ankelen&nbsp;</li>
<ul>
<li>Om mulig plasseres en bomullskompress mot ankelen og klem moderat</li>
<li>Fest kompressen med en p&aring;rullingsbandasje som legges passe stramt p&aring;. Ikke bandasjer inn t&aelig;rne</li>
<li>Sjekk sirkulasjonen i t&aelig;rne hvert 10-minutt</li>
</ul>
<li>Hev benet&nbsp;</li>
<ul>
<li>Det skadete benet holdes h&oslash;yt for &aring; redusere blodtilstr&oslash;mningen slik at det blir mindre bloduttredelse</li>
</ul>
<li>Avlastning, ro&nbsp;</li>
<ul>
<li>Dersom skaden synes &aring; v&aelig;re begrenset, tilr&aring; den skadete &aring; ta det med ro og hvil benet</li>
<li>S&oslash;k medisinsk hjelp om n&oslash;dvendig</li>
</ul>
<li>Ved mistanke om alvorlig skade&nbsp;</li>
<ul>
<li>Ring 113 eller send vedkommende til sykehus</li>
</ul>
</ul>