<p><strong>Armskade</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li><strong>St&oslash;tt armen&nbsp;</strong></li>
<ul>
<li>Om mulig b&oslash;r du forsiktig b&oslash;ye den skadetes arm ved albuen slik at armen kan legges tvers over kroppen</li>
<li>Be den skadete &aring; st&oslash;tte albuen med den andre armen</li>
<li>Plasser et mykt t&oslash;ystykke, f.eks. et sammenbrettet h&aring;ndkle, mellom bruddstedet og kroppen</li>
<li>Hvis den skadete er ute av stand til &aring; b&oslash;ye armen, m&aring; du ikke bruke kraft og tvinge den. Be da den skadete legge seg ned og plasser noe t&oslash;y rundt den skadde albuen</li>
</ul>
<li><strong>Legg armen i en slynge&nbsp;</strong></li>
<ul>
<li>Legg armen i en armslynge</li>
<li>For ekstra st&oslash;tte festes den skadetes arm til kroppen med en bred bandasje. Unng&aring; &aring; legge bandasjen stramt over selve bruddstedet</li>
</ul>
<li><strong>F&aring; den skadete til sykehus</strong></li>
</ul>