<p><strong>Beinbrudd</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Mens du venter p&aring; hjelp, b&oslash;r du gj&oslash;re f&oslash;lgende:&nbsp;</li>
<li>Stans eventuell <a href="http://nhi.no/forside/forstehjelp/blodninger/blodning-alvorlig-11100.html"><span>bl&oslash;dning</span></a></li>
<ul>
<li>Hvis det bl&oslash;r, press direkte mot s&aring;ret med en steril bandasje, et rent t&oslash;ystykke eller et klesplagg</li>
<li>Hold trykket inntil bl&oslash;dningen har stanset</li>
</ul>
<li><strong>Immobiliser omr&aring;det&nbsp;</strong></li>
<ul>
<li>Fors&oslash;k &aring; st&oslash;tte det skadede omr&aring;det med kl&aelig;r eller tepper som rulles sammen og brukes som st&oslash;tte - dette virker smertelindrende og forebygger ytterligere skade</li>
<ul>
<li>Spjelking med stive spjelkematerialer utf&oslash;res av ambulansepersonell&nbsp;</li>
</ul>
<li>Fors&oslash;k &aring; st&oslash;tte ogs&aring; leddene ovenfor og nedenfor bruddet, ikke fors&oslash;k &aring; sette bruddet sammen</li>
<li>S&oslash;rge for &aring; unng&aring; nedkj&oslash;ling ved &aring; isolere og beskytte best mulig mot kaldt underlag, vind og nedb&oslash;r</li>
<li>Skadet arm henges i fatle eller en opptrukket genser/jakke, eller st&oslash;ttes med frisk arm</li>
<li>Ved mistanke om nakke-/ryggskade m&aring; hode og nakke beskyttes for &aring; hindre ytterligere skade</li>
</ul>
<li><strong>Behandle <a href="http://nhi.no/forside/forstehjelp/medisinske-problemer/sjokk-11101.html">sjokk</a></strong></li>
<ul>
<li>Hvis den skadede blir fjern, eller besvimer, eller pusten blir raskere og mer overflatisk, kan det v&aelig;re tegn p&aring; at han eller hun er i sjokk</li>
<li>Legg vedkommende flatt ned p&aring; ryggen. Sjekk B- bevissthet, L-luftveier og &Aring;-&aring;ndedrett - og tilkall hjelp</li>
</ul>
</ul>