<p><strong>Bekkenskade</strong></p>
<p><strong>Typiske symptomer og tegn</strong></p>
<ul>
<li>Smerte, hevelse og ute av stand til &aring; g&aring;&nbsp;</li>
<li>Ofte trang til urinering, og urinen kan v&aelig;re blodtilblandet</li>
<li>Mulig indre bl&oslash;dning og sjokk</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Legg den skadete ned&nbsp;</li>
<ul>
<li>Hjelp den skadete til &aring; ligge ned p&aring; ryggen med beina utstrakte eller med lett kneb&oslash;y</li>
<li>Legg noe mykt - en pute eller kl&aelig;r - som st&oslash;tte under kn&aelig;rne</li>
</ul>
<li>Ring 113 og tilkall ambulanse</li>
<li>Behandle eventuelt <a href="http://nhi.no/forside/forstehjelp/medisinske-problemer/sjokk-11101.html"><span>sjokk</span></a></li>
<ul>
<li>Om n&oslash;dvendig behandles pasienten for sjokk</li>
<li>Pasienten m&aring; ikke f&aring; noe &aring; spise eller drikke</li>
</ul>
<li>F&oslash;lg med den skadete&nbsp;</li>
<ul>
<li>Registrer regelmessig livsviktige funksjoner som grad av bevissthet, puls og pust inntil hjelp kommer</li>
</ul>
</ul>