<p><strong>Bitt og stikk</strong></p>
<p><strong>Dyrebitt</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<p><strong>Akuttbehandling</strong></p>
<p>Dersom du eller barnet ditt er bitt av et dyr, f&oslash;lg disse retningslinjene:</p>
<ol>
    <li>Hvis bittet bare s&aring; vidt har brutt gjennom huden, behandle det som et mindre s&aring;r. Vask s&aring;ret grundig med s&aring;pe og vann. Sm&oslash;r p&aring; en antibiotikasalve (eks. Brulidin, Fucidin) for &aring; hindre infeksjon og dekk s&aring;ret med en ren bandasje</li>
    <li>Hvis bittet har gitt en dyp punktering av huden, eller huden er stygt opprevet og bl&oslash;r, legg p&aring; en bandasje, trykk mot s&aring;ret for &aring; stanse bl&oslash;dningen og ta kontakt med lege</li>
    <li>Hvis det er tegn til infeksjon som hevelse, r&oslash;dhet, &oslash;kt smerte eller siving av v&aelig;ske fra s&aring;ret, ta kontakt med lege umiddelbart</li>
    <li>Mistenker du at bittet kan komme fra et dyr som kan overf&oslash;re rabies (i utlandet), ta kontakt med lege snarest</li>
</ol>
<p><strong>Videre behandling</strong></p>
<ul>
    <li>Dype katte- og hundebitt blir lett betente. Hvis det oppst&aring;r en lokal infeksjon (lokal hevelse, smerter, varme) etter et dyrebitt, b&oslash;r lege opps&oslash;kes for eventuell behandling med antibiotika</li>
    <li>En sjelden gang kan selv ubetydelige hundebitt overf&oslash;re bakterier som kan medf&oslash;re blodforgiftning. Det utvikler seg da h&oslash;y feber og alvorlige tegn til sykdom. Alle som blir akutt syke med feber i dagene etter at de er blitt bitt av hund m&aring; derfor opps&oslash;ke lege straks.</li>
    <li>Leger anbefaler at du f&aring;r p&aring;fyll med stivkrampevaksine hvert 10. &aring;r. Hvis det er mer enn 5 &aring;r siden du fikk din siste stivkrampevaksine, og s&aring;ret et dypt og forurenset, vil legen anbefale en dose med stivkrampevaksine. Helst b&oslash;r denne vaksinen gis innen 48 timer etter skaden</li>
    </ul>
</ul></li>
</ol></strong></p>
