<p><strong>Bl&aring; flekk, bloduttredelse&nbsp;</strong></p>
<p><strong>Hva er det?</strong></p>
<ul>
<li>En bloduttredelse oppst&aring;r n&aring;r et slag gj&oslash;r at det g&aring;r hull p&aring; sm&aring; blod&aring;rer n&aelig;r hudens overflate</li>
<li>Sm&aring; mengder blod vil da lekke ut under huden</li>
<li>Det innestengte blodet viser seg som en flekk eller et omr&aring;de som er svart og bl&aring;tt</li>
<li>Noen ganger viser blodet seg som sm&aring; r&oslash;de prikker&nbsp;</li>
<li>Etter noen dager endrer fargen seg og blir mer gulig som uttrykk for at blodet l&oslash;ser seg opp</li>
</ul>
<p><strong>Tiltak - mindre skade</strong></p>
<ul>
<li>Dersom ikke huden er brutt, er det un&oslash;dvendig med en bandasje</li>
<li>Men du kan p&aring;skynde tilhelingen med noen enkle tiltak:&nbsp;</li>
<ul>
<li>Hev det skadete omr&aring;det</li>
<li>Legg is eller en kuldepakning mot skadestedet i huden i 30-60 minutter om gangen i en dag eller to etter skaden</li>
</ul>
</ul>
<p><strong>S&oslash;k lege dersom</strong></p>
<ul>
<li>Du har uvanlig store og smertefulle bloduttredelser - s&aelig;rlig hvis bloduttredelsen synes &aring; &oslash;ke i st&oslash;rrelse uten noen god grunn</li>
<li>Du har lett for &aring; f&aring; bl&aring;flekker og du opplever unormale bl&oslash;dninger andre steder, f.eks. fra nesen eller tannkj&oslash;ttet, eller hvis du oppdager blod i &oslash;ynene eller i urinen</li>
<li>Du tidligere aldri har v&aelig;rt plaget med hudbl&oslash;dninger, men n&aring; br&aring;tt opplever det gjentatte ganger&nbsp;</li>
<li>Du har f&aring;tt et kraftig bl&aring;&oslash;ye, fordi det kan v&aelig;re skade ogs&aring; p&aring; &oslash;yet eller hodeskallen</li>
</ul>
<p><strong>Underliggende sykdom?</strong></p>
<ul>
<li>Overnevnte symptomer og tegn kan v&aelig;re uttrykk for et alvorligere problem, som f.eks. &oslash;kt bl&oslash;dningstendens p&aring; grunn av endringer i blodets levringssystem (koagulasjonssystemet) eller ved underliggende blodsykdom</li>
<li>Bloduttredelser som gir vedvarende smerte eller hodepine, kan ogs&aring; v&aelig;re uttrykk for en alvorligere underliggende sykdom og krever medisinsk tilsyn</li>
</ul>