<p><strong>Blemmer og gnags&aring;r</strong></p>
<p><strong>Tiltak - mindre skade</strong></p>
<ul>
<li>Hvis blemmen ikke er for smertefull, pr&oslash;v og hold den inntakt</li>
<li>Ubrutt hud over en blemme gir en naturlig barri&aelig;re mot bakterier og nedsetter derfor risikoen for infeksjon</li>
<li>Dekk blemmen med et lite plaster - som dog dekker hele blemmen - for &aring; beskytte den&nbsp;</li>
<li>Flytende plaster kan v&aelig;re effektivt (eks. Compeed Liquid Bandage)</li>
</ul>
<p><strong>Tiltak - smertefull skade</strong></p>
<ul>
<li>Hvis blemmen er smertefull, fjernes v&aelig;sken inne i blemmen samtidig som overliggende hud bevares intakt. Dersom v&aelig;sken i blemmen er blodtilblandet, b&oslash;r man helst unng&aring; &aring; stikke hull p&aring; den. Dette skyldes at infeksjonsfaren er st&oslash;rre ved en dypere skade.</li>
<li>Gj&oslash;r det p&aring; denne m&aring;ten:&nbsp;</li>
<ol>
<li>Vask hendene og blemmen med varmt vann og s&aring;pe</li>
<li>Rengj&oslash;r blemmen med desinfiserende middel, f.eks. alkohol</li>
<li>Steriliser en ren, skarp n&aring;l med &aring; gni den med desinfiserende middel. Bruk n&aring;len til &aring; punktere blemmen. Stikk flere hull ved kanten p&aring; blemmen. La v&aelig;sken t&oslash;mme seg, men la den overliggende huden v&aelig;re</li>
<li>Sm&oslash;r p&aring; en antibiotikasalve (eks. Brulidin, Fucidin) og dekk blemmen med en bandasje</li>
<li>Bruk et tynt knivblad eller en saks rengjort med desinfiserende v&aelig;ske til &aring; skj&aelig;re vekk d&oslash;d hud etter flere dager</li>
<li>Sm&oslash;r p&aring; mere antibiotikasalve</li>
</ol></ul>
<p><strong>Tiltak - tegn til betennelse</strong></p>
<ul>
<li>Ta kontakt med lege hvis det er tegn til infeksjon rundt blemmen:&nbsp;</li>
<ul>
<li>Puss, r&oslash;dhet, &oslash;kende smerte eller varm hud&nbsp;</li>
</ul>
</ul>