<p><strong>Bl&oslash;dninger</strong></p>
<p><strong>Bl&oslash;dning fra &oslash;ret</strong></p>
<p><strong>&Aring;rsak</strong></p>
<ul>
<li>Den vanlige &aring;rsaken til bl&oslash;dning fra &oslash;ret er en sprengt trommehinne for&aring;rsaket av et fremmedlegeme eller et slag mot hodet&nbsp;</li>
<li>Tilstanden er i de fleste tilfeller en bagatell der trommehinnen i l&oslash;pet av noen dager lukker seg selv, men unntaksvis kan det dreie seg om en alvorligere underliggende skade</li>
<li>Dersom det renner ut gul, lett blodig v&aelig;ske, kan det v&aelig;re tegn p&aring; brudd p&aring; hjerneskallen</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>F&aring; den skadete til &aring; legge seg ned&nbsp;</li>
<ul>
<li>Hjelp den skadete til &aring; ligge ned. Hodet og skuldrene b&oslash;r v&aelig;re lett hevet</li>
</ul>
<li>Dekk s&aring;ret/&oslash;ret</li>
<ul>
<li>Bruk eventuelt engangshansker</li>
<li>Plasser en steril kompress over &oslash;ret og fest den ved hjelp av en bandasje som rulles rundt hodet</li>
</ul>
<li>Ved mistanke om alvorlig underliggende skade</li>
<ul>
<li>Ta kontakt med akuttmedisinsk sentral p&aring; 113</li>
</ul>
</ol>