<p><strong>Brannskader</strong></p>
<p>&nbsp;</p>
<p><strong>Straks behandling</strong></p>
<p>Hva du gj&oslash;r eller ikke gj&oslash;r de f&oslash;rste sekundene og minuttene, kan f&aring; avgj&oslash;rende betydning for det endelige utfallet. Du m&aring; stanse forbrenningen, kj&oslash;le ned brannskaden, eventuelt gi smertestillende og s&aring; dekke brannskaden.</p>
<p>Stopp forbrenningen</p>
<p>Du m&aring; fjerne varmekilden eller fjerne den skadete fra varmekilden. Varmt, brennende eller forkullet t&oslash;y eller kl&aelig;r fjernes straks. Flammer b&oslash;r slukkes med vann, et teppe eller ved &aring; rulle den skadete p&aring; bakken. Du m&aring; unng&aring; &aring; brenne deg selv. Stoff som er brent fast, lar du v&aelig;re. Asfaltforbrenninger nedkj&oslash;les med vann, men ikke fjern asfalten. Ved elektriske forbrenninger m&aring; den skadete kobles fra str&oslash;mmen f&oslash;r f&oslash;rstehjelp startes.</p>
<p><strong>Kj&oslash;l ned brannskaden</strong></p>
<p>Dersom skaden er litt mer enn bagatellmessig, b&oslash;r du ringe 113 for &aring; f&aring; r&aring;d og veiledning. Aktiv nedkj&oslash;ling fjerner varme og hindrer utvidelse av brannskaden. Nedkj&oslash;ling er effektivt hvis det utf&oslash;res innen 20 minutter etter skaden. Nedsenking i eller skylling med rennende, lunkent vann (15&deg;C) b&oslash;r p&aring;g&aring; i opptil 20 minutter, f.eks. i dusjen. Vannet minsker utbredelsen av varmeskaden, fjerner skadelige stoffer, reduserer smerter og hevelse. Isvann b&oslash;r ikke brukes fordi intens sammentrekning av blod&aring;rene i huden kan &oslash;ke utbredelsen av forbrenningen. Nedkj&oslash;ling av store hudomr&aring;der kan gi lav kroppstemperatur, s&aelig;rlig hos barn, noe som kan forverre tilstanden. Kjemiske brannskader m&aring; skylles med rikelige mengder med vann.</p>
<p><strong>Smertestilling</strong></p>
<p>Forbrenningen gj&oslash;r at nerveender ligger &aring;pne i dagen, og det gir smerte. Nedkj&oslash;ling og tildekking av brannskaden vil redusere smertene og er i de fleste tilfeller tilstrekkelig behandling. Ellers kan det gis smertestillende medisin, f.eks. ibuprofen (Brufen).&nbsp;</p>
<p><strong>Tildekking av brannskaden</strong></p>
<p>Tildekkingen b&oslash;r dekke forbrenningen og eventuelt holde pasienten varm (ved stor forbrenning). Matfilm (klebeplast, Glapack) er et ideelt f&oslash;rstehjelpsdekke. Fjern de f&oslash;rste centimetrene av filmen, plasten lengre inne p&aring; rullen er i praksis steril. Plasten er smidig, den fester seg ikke til s&aring;ret, den er ugjennomtrengelig, den fungerer som en barriere og er gjennomsiktig for inspeksjon. Legg matfilmen p&aring;, ikke surr den rundt brannskadeomr&aring;det. Dette er s&aelig;rlig viktig p&aring; lemmene siden senere hevelse kan klemme av og hemme blodforsyningen. Et pledd lagt p&aring; toppen vil holde pasienten varm. Om matfilm ikke er tilgjengelig, s&aring; gj&oslash;r ethvert rent bomullst&oslash;ystykke nytte. Brannskader p&aring; h&aring;nden kan dekkes med en klar plastikkpose.</p>
<p>Unng&aring; v&aring;te omslag fordi varmetapet under transport til sykehuset kan bli betydelig. Bruk av lokal krem eller salve b&oslash;r unng&aring;s p&aring; dette stadium, fordi det kan vanskeliggj&oslash;re vurderingen av brannskaden n&aring;r den skadete kommer til lege eller sykehus.</p>
<p><strong>Rengj&oslash;ring av brannskaden</strong></p>
<p>Dersom brannskaden ikke er st&oslash;rre enn at du kan behandle den selv, m&aring; du rengj&oslash;re s&aring;ret f&oslash;r du legger p&aring; bandasje. En fersk brannskade er i praksis steril, og det er viktig &aring; holde den steril. Rengj&oslash;r s&aring;ret med sterilt vann eller en mild s&aring;peoppl&oslash;sning, ev. fortynnet klorhexidin. Sm&aring;, hele blemmer kan st&aring; ur&oslash;rt. Store blemmer punkteres - men husk, da foreligger annengrads forbrenning og den skadete b&oslash;r helst tas h&aring;nd om av helsepersonell.</p>
<p><strong>Bandasjer</strong></p>
<p>De minste brannskadene kan behandles med lokal salve eller krem og dekkes med t&oslash;rr kompress og bandasje. Ved st&oslash;rre brannskader - og da b&oslash;r vel den skadete behandles av helsepersonell - finnes en rekke spesialbandasjer, f.eks. bandasjer/nett innsmurt med salver eller vaselin, slik at ikke bandasjen fester seg til s&aring;ret.&nbsp;</p>
<p>LUFTVEIER, &Oslash;YE, &Oslash;RE NESE HALS, AKUTT MEDISIN, MEDISINSKE PROBLEMER, HLR, ALLERGI, <span>Acetylcystein, alkohol og medikamentforgiftning</span>, GIFTIG SOPP, MEDISINSK KULL, GIFTIGE PLANTER, HJERNEHINNEBETENNELSE, MIGRENE, HJERNESKADE, HJERNERYSTELSE, HJERNESLAG, HODEPINE, HODESKADE, RYGGSKADE, FASTKLEMMNING, F&Oslash;RSTEHJELP P&Aring; ULYKKESSTEDET, DRUKNING,</p>