<p><strong>Brennmanet</strong></p>
<p><strong>Bakgrunn</strong></p>
<ul>
<li>Alvorligere skader kan for&aring;rsakes av tropiske brennmaneter, samt brodder/spisser fra enkelte fisker</li>
<ul>
<li>Tropiske kubemaneter finnes f. eks. i Thailand og nord i Australia</li>
</ul>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>F&aring; den skadete til &aring; legge seg ned&nbsp;</li>
<li>Fjern eventuelle rester av brennmaneten&nbsp;</li>
<ul>
<li>Bruk om mulig hansker, ev. pinsett</li>
<li>Tr&aring;dene lar seg lettest fjerne om det brente hudomr&aring;det legges i sj&oslash;vann</li>
<li>Om tr&aring;dene er vanskelige &aring; f&aring; bort, kan det &aring; gni sand (evt. blandet med sj&oslash;vann) p&aring; det brente omr&aring;det, v&aelig;re effektivt. Et annet r&aring;d er &aring; benytte en barberh&oslash;vel eller liknende</li>
<li>Unng&aring; &aring; bruke ferskvann eller eddik til &aring; skylle s&aring;ret med da dette utl&oslash;ser enda mer gift fra neslecellene</li>
</ul>
<li>Legg p&aring; ispakning&nbsp;</li>
<ul>
<li>Plasser en ispakning over brannstedet i 10 minutter</li>
</ul>
<li>Varmt vann (40&deg;-45&deg;C)&nbsp;</li>
<ul>
<li>Kan lindre litt n&aring;r gifttr&aring;dene er fjernet. Du kan ogs&aring; sm&oslash;re p&aring; litt lokalbed&oslash;vende salve/krem (Xylocain)</li>
</ul>
<li>Hvis skaden er alvorlig eller hvis pasienten utvikler en alvorlig reaksjon p&aring; stikket/forbrenningen, m&aring; du ringe 113</li>
</ul>
<p><strong>F&oslash;rstehjelp i tropiske str&oslash;k</strong></p>
<ul>
<li>Brannskade av tropisk brennmanet</li>
<ul>
<li>Hell rikelig med eddik eller sj&oslash;vann over s&aring;ret</li>
<li>Dekk s&aring;ret med en lett, sirkul&aelig;r bandasje</li>
<li>Tilkall ambulanse</li>
</ul>
<li>Brodd/spiss inn i huden&nbsp;</li>
<ul>
<li>Senk ned den skadete delen ned i s&aring; varmt vann som vedkommende t&aring;ler for &aring; lindre smerte</li>
<li>Send vedkommende til sykehus for &aring; f&aring; fjernet brodden</li>
<li></li>
</ul>
</ul>