<p><strong>Elektrisk brannskade</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>Ring 113 eller tilkall akutt medisinsk hjelp&nbsp;</li>
<li>Mens du venter p&aring; medisinsk hjelp, f&oslash;lg disse r&aring;dene:</li>
<li>Se f&oslash;rst. Ikke r&oslash;r</li>
<ul>
<li>Vedkommende kan fortsatt v&aelig;re i kontakt med den elektriske kilden. Om du tar p&aring; vedkommende, kan du f&aring; str&oslash;mst&oslash;t ogs&aring;</li>
<li>Sl&aring; av den elektriske kilden om det er mulig</li>
</ul>
<li>Hvis du ikke kan sl&aring; av str&oslash;mmen</li>
<ul>
<li>M&aring; du fjerne kilden fra den tilskadekomne ved &aring; bruke et ikke-ledende objekt, f.eks. papp, plastikk eller et trestykke. Ikke bruk noe metallisk!</li>
<li>Du b&oslash;r samtidig st&aring; p&aring; et t&oslash;rt, isolerende materiale som en plastmatte, en sammenrullet avis, en bok</li>
<li>Hvis du fortsatt ikke kan skille den skadete fra den elektriske kilden, pr&oslash;v om du kan f&aring; et rep rundt anklene til vedkommende og trekk han/henne vekk fra kilden</li>
</ul>
<li>S&aring; snart den tilskadekomne er fri fra elektrisitetskilden, forsikre deg om at han eller hun puster</li>
<ul>
<li>Hvis vedkommende ikke puster, eller du mistenker at luftveiene er blokkerte, start med hjerte-lunge-redning (<a href="http://nhi.no/forside/forstehjelp/bevisstloshet/hjertelungeredning-barn-18584.html"><span>barn</span></a>/<a href="http://nhi.no/forside/forstehjelp/bevisstloshet/hjertelungeredning-voksen-1235.html"><span>voksen</span></a></li>
</ul>
<li>Kj&oslash;l ned</li>
<ul>
<li>Hell eventuelt kaldt vann over brannskaden i minst 20 minutter eller inntil den brennende f&oslash;lelsen opph&oslash;rer</li>
<li>Fjern forsiktig kl&aelig;r som er n&aelig;r brannskaden</li>
</ul>
<li>Dekk brannskaden&nbsp;</li>
<ul>
<li>Hvis personen puster, kan du dekke brannskadde omr&aring;der med en steril bandasje eller et rent t&oslash;ystykke. Ikke bruk et teppe eller en h&aring;ndduk. Loddent t&oslash;y kan v&aelig;re irriterende&nbsp;</li>
<li>Eventuelt kan du dekke brannskaden med kj&oslash;kkenfilm (selvklebende plast) eller en ren plastikkpose hvis det er en forbrent fot eller h&aring;nd/arm, men ikke legg plasten rundt armen/foten</li>
</ul>
</ol>