<p><strong>Fiskekrok skade</strong></p>
<p><strong>Situasjon</strong></p>
<ul>
<li>N&aring;r en fiskekrok har satt seg godt fast i huden, b&oslash;r du ikke fors&oslash;ke &aring; fjerne den p&aring; egen h&aring;nd</li>
<li>Legg en bandasje p&aring; for &aring; unng&aring; at kroken hekter seg opp i andre gjenstander</li>
<li>En fiskekrok som sitter fast i huden, b&aelig;rer med seg en risiko for infeksjon</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>F&aring; pasienten til &aring; sette seg ned&nbsp;</li>
<li>Kutt fiskesn&oslash;ret s&aring; n&aelig;r kroken som mulig</li>
<li>Bygg opp med kompresser rundt fiskekroken slik at du kan bandasjere over kroken uten &aring; presse den dypere ned i huden</li>
</ol>
<p><strong>Fjerning av kroken</strong></p>
<ul>
<li>Hvis fiskekroken fjernes av lege, kan legen sette lokalbed&oslash;velse&nbsp;</li>
<li>Hvis spissen p&aring; kroken ikke er synlig, m&aring; du presse kroken ned i huden p&aring; en slik m&aring;te at spissen kommer over hudoverflaten igjen</li>
<li>Klipp av den delen av fiskekroken som har mothake, og trekk kroken tilbake og ut</li>
<li>Rens s&aring;ret og ha p&aring; en steril s&aring;rbandasje</li>
<li>Vurder behovet for stivkrampevaksine&nbsp;</li>
<ul>
<li>Hvis du ikke har f&aring;tt stivkrampe-vaksine i l&oslash;pet av de siste 5 &aring;rene, vil legen anbefale en p&aring;fyllsdose. Helst b&oslash;r en p&aring;fyllsdose gis innen 48 timer etter skaden</li>
</ul>
</ul>