<p><strong>Fremmedlegeme i huden</strong></p>
<p><strong>Situasjon</strong></p>
<ul>
<li>Ethvert fremmedlegeme som en treflis, en glassbit eller en metallbit som trenger inn i huden, er sjelden ren og den kan for&aring;rsake infeksjon</li>
<li>Dersom en splint/flis stikker ut av huden, fjern den med en pinsett eller nebbtang</li>
<li>Dersom enden p&aring; splinten/flisen ikke er synlig, m&aring; du s&oslash;ke medisinsk hjelp fordi det er lett &aring; skyve splinten enda dypere ned i huden dersom du pr&oslash;ver selv</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Bruk pinsett til &aring; fjerne biter av tre eller fiberglass, sm&aring; glassk&aring;r eller andre fremmedlegemer som stikker ut av huden&nbsp;</li>
<li>Rengj&oslash;r omr&aring;det grundig med rennende vann, eventuelt s&aring;pe og vann, avslutt med &aring; ha p&aring; et desinfiserende middel eller alkohol</li>
<li>Stort dyptsittende fremmedlegeme:&nbsp;</li>
<ul>
<li>St&oslash;rre eller dyptsittende fremmedlegemer b&oslash;r ikke fjernes. Det kan v&aelig;re at gjenstanden plugger igjen s&aring;ret og at eventuell fjerning kan utl&oslash;se kraftig bl&oslash;dning</li>
<li>Bandasjer rundt objektet, men ikke klem mot objektet dersom det stikker ut. Bandasjer over objektet dersom det ikke stikker ut, men ikke trykk mot det</li>
</ul>
<li>Mindre eller overflatisk beliggende fremmedlegeme:&nbsp;</li>
<ul>
<li>Rengj&oslash;r omr&aring;det grundig med s&aring;pe og vann</li>
<li>Steriliser en n&aring;l ved &aring; holde den i en flamme noen sekunder</li>
<li>&Aring;pne huden over fremmedlegemet med n&aring;len. Bruk pinsett til &aring; fjerne fremmedlegemet</li>
<li>Hvis bitene ikke kommer lett ut, b&oslash;r du s&oslash;ke medisinsk hjelp</li>
<li></li>
</ul>
</ul>