<p><strong>Insektbitt</strong></p>
<p><strong>Diagnosen</strong></p>
<ul>
<li>De fleste reaksjoner er milde og gir bare plagsom kl&oslash;e og stikk-ubehag, og det kommer en mild hevelse som forsvinner i l&oslash;pet av en dag eller to</li>
<li>En forsinket reaksjon kan gi feber, smertefulle ledd, vabler og hovne kjertler</li>
<li>Du kan oppleve b&aring;de den umiddelbare og den forsinkede reaksjonen fra det samme stikket</li>
</ul>
<p><strong>Ved alvorlig reaksjon</strong></p>
<ul>
<li>Tilstanden kan utvikle seg raskt</li>
<li>Ring 113 eller tilkall akuttmedisinsk hjelp dersom noen av f&oslash;lgende symptomer inntrer:&nbsp;</li>
<ul>
<li>Pustevansker</li>
<li>Hevelse p&aring; leppene og i halsen</li>
<li>Vil besvime</li>
<li>Forvirring</li>
<li>Rask puls</li>
<li>Vabler</li>
<li>Kvalme, brekninger, kramper</li>
</ul>
</ul>
<p>F&oslash;rstehjelp</p>
<p><strong>Generell behandling</strong></p>
<ol>
<li>Fjern brodden dersom mulig. Skrap, ikke klem fordi brodden kan inneholde en giftsekk og du kan risikere &aring; klemme ut mer gift</li>
<li>Avkj&oslash;l stikkstedet med kaldt vann, en v&aring;t klut eller is</li>
<li>Ved stikk i munnen kan en gi isbiter &aring; suge p&aring; for &aring; dempe hevelsen</li>
<li>Ta et antihistamin (allergimedisin) om det finnes tilgjengelig</li>
<li>"Hvil" stikkstedet. Om mulig hold det h&oslash;yt inntil smerten og hevelsen g&aring;r ned</li>
</ol>
<p><strong>Ved nedsatt bevissthet eller pustevansker</strong></p>
<ol>
<li>S&oslash;rg for at pasienten f&aring;r puste fritt; b&oslash;y hodet forsiktig bakover og l&oslash;ft haken frem. L&oslash;sne p&aring; stramme kl&aelig;r, la pasienten sitte oppreist og selv finne den beste stillingen</li>
<li>Hvis ikke pasienten klarer &aring; sitte oppreist: Legg pasienten p&aring; siden, helst i sideleie. Pass p&aring; at pasienten fortsetter &aring; puste</li>
<li>Hvis pasienten slutter &aring; puste: Start hjerte-/lungeredning (<a href="http://nhi.no/forside/forstehjelp/bevisstloshet/hjertelungeredning-barn-18584.html"><span>barn</span></a> / <a href="http://nhi.no/forside/forstehjelp/bevisstloshet/hjertelungeredning-voksen-1235.html"><span>voksen</span></a>) med munn-til-munn og hjertemassasje</li>
</ol>
<p><strong>Ved allergisk reaksjon&nbsp;</strong></p>
<ol>
<li>Hvis pasienten har egne allergimedisiner tilgjengelig, b&oslash;r du hjelpe pasienten &aring; ta disse. F&oslash;lg doseringsanvisningen p&aring; esken</li>
<li>Hvis uvel, svimmel eller kvalm: Legg pasienten ned og hold bena h&oslash;yt</li>
</ol>
<p><strong>Ved stikk i munn og hals</strong></p>
<ul>
<li>Et stikk inne i munnen eller halsen kan v&aelig;re farlig fordi det kan for&aring;rsake hevelse som kan blokkere luftveien</li>
<li>Hvis du mistenker et stikk i munn eller hals, b&oslash;r du ringe 113</li>
<li>Om mulig b&oslash;r du gi pasienten en isbit &aring; suge p&aring; eller ta sm&aring; super med kaldt vann for &aring; dempe hevelsen i luftveien</li>
<li></li>
</ul>