<p><strong>Kjemisk brannskade p&aring; huden</strong></p>
<p><strong>Symptomer og tegn</strong></p>
<ul>
<li>Kjemikalier befinner seg n&aelig;r den skadete</li>
<li>Stikkende smerter</li>
<li>Misfarging, hevelse og blemmedannelse</li>
<li>Sjokk kan oppst&aring;</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Ved kjemisk etseskade mot huden:&nbsp;</li>
<ol>
<li>Fjern &aring;rsaken til etsingen ved skylle vekk kjemikaliene fra hudoverflaten med kj&oslash;lig, rennende vann i minst 20 minutter. Hvis det brennende kjemikaliet er et pulverliknende stoff, b&oslash;rst det av f&oslash;r du begynner &aring; skylle</li>
<li>Fjern kl&aelig;r og smykker som har blitt forurenset med kjemikaliet</li>
<li>Vurder &aring; bruke en lotion, f.eks. med aloe vera, for &aring; hindre oppt&oslash;rring og for &aring; mykgj&oslash;re huden</li>
<li>Tildekk det forbrente omr&aring;det med en t&oslash;rr, steril bandasje eller et rent t&oslash;ystykke</li>
<li>Rens s&aring;ret igjen i flere minutter dersom den skadede klager over tiltakende brenning etter den f&oslash;rste skyllingen</li>
</ol>
<li>Mindre kjemiske etseskader tilheler vanligvis uten ytterligere behandling</li>
</ul>