<p><strong>Kutts&aring;r og skrubbs&aring;r</strong></p>
<p><strong>F&oslash;rstehjelp ved sm&aring;s&aring;r</strong></p>
<ul>
<li>Stopp bl&oslash;dningen&nbsp;</li>
<ul>
<li>Mindre kutt og skrubbs&aring;r stanser vanligvis &aring; bl&oslash; av seg selv</li>
<li>Om de ikke gj&oslash;r det, press mildt mot s&aring;ret med en ren klut eller bandasje</li>
<li>Hvis blodet fortsetter &aring; renne etter 20-30 minutter, m&aring; lege kontaktes</li>
</ul>
<li>Rengj&oslash;r s&aring;ret&nbsp;</li>
<ul>
<li>Det kan v&aelig;re en fordel &aring; holde s&aring;rstedet h&oslash;yt i forbindelse med rengj&oslash;ringen</li>
<li>Rens s&aring;ret med rent vann. Pr&oslash;v &aring; unng&aring; s&aring;pe direkte i s&aring;ret - det kan irritere s&aring;ret</li>
<li>Hvis det er igjen skitt og lort i s&aring;ret etter vask, bruk pinsett som er rengjort med alkohol, til &aring; fjerne partiklene</li>
<li>Hvis det gjenst&aring;r biter i s&aring;ret etter at du har renset det, b&oslash;r du kontakte lege</li>
<li>Grundig rengj&oslash;ring reduserer risikoen for stivkrampe</li>
<li>For &aring; rengj&oslash;re omr&aring;det rundt s&aring;ret, bruk s&aring;pe og vaskeklut. Du kan eventuelt bruke desinfiserende midler som Klorhexidin eller Pyrisept</li>
</ul>
<li>Antiseptisk salve?&nbsp;</li>
<ul>
<li>Etter at du har rengjort s&aring;ret, kan du eventuelt legge p&aring; et tynt lag med antiseptisk salve som Bacimycin eller Brulidin (begge er reseptfrie)<span><sup>1</sup></span></li>
<li>Dette f&aring;r ikke s&aring;ret til &aring; gro raskere, men det kan motvirke infeksjon og la kroppens reparasjonssystem lukke s&aring;ret mer effektivt</li>
</ul>
<li>Dekk s&aring;ret&nbsp;</li>
<ul>
<li>Lufttilgang p&aring;skynder tilhelingen, men bandasjer hjelper til &aring; holde s&aring;ret rent og holder skadelige bakterier ute</li>
<li>Dekk blemmer som det renner v&aelig;ske ut av, inntil det er dannet en skorpe</li>
</ul>
<li>Skift bandasje&nbsp;</li>
<ul>
<li>Skift bandasje minst daglig og alltid n&aring;r den blir v&aring;t eller skitten&nbsp;</li>
</ul>
<li>Flytende plaster?&nbsp;</li>
<ul>
<li>Plasteret hindrer bakterieinntrengning, lindrer smerter, sitter over alt p&aring; kroppen og er vannfast</li>
<li>Plasteret skal sitte til det selv faller av, som en naturlig del av s&aring;r-helingen</li>
</ul>
</ul>
<p><strong>St&oslash;rre s&aring;r</strong></p>
<ul>
<li>Et s&aring;r som g&aring;r dypt ned i huden, eller som gaper eller er opprevet, eller der man kan se fett og muskler, trenger vanligvis &aring; bli sydd eller festet godt sammen av helsepersonell</li>
<li>Mindre kutt kan holdes sammen med kirurgisk plaster</li>
<li>En god lukning av s&aring;ret begrenser arrdannelsen etterp&aring;&nbsp;</li>
</ul>
<p><strong>Observer - unng&aring; komplikasjoner</strong></p>
<ul>
<li>Se etter tegn til infeksjon&nbsp;</li>
<ul>
<li>Hvis s&aring;ret ikke tilheler, eller du ser at det blir r&oslash;dt, det v&aelig;sker, blir varmt og hovner opp - b&oslash;r du kontakte lege</li>
</ul>
<li>Stivkrampevaksine&nbsp;</li>
<ul>
<li>Legene anbefaler at du f&aring;r tetanusvaksine hvert 10. &aring;r</li>
<li>Hvis s&aring;ret er dypt eller skittent og din siste vaksine ble satt for mer enn 5 &aring;r siden, vil legen som regel anbefale at du f&aring;r en dose med stivkrampevaksine (booster-dose)</li>
<li>Vaksinen b&oslash;r helst settes innen 48 timer etter skaden&nbsp;</li>
<li></li>
</ul>
</ul>