<p><strong>Kutts&aring;r i hodebunn&nbsp;</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li><strong>Kontroller bl&oslash;dningen&nbsp;</strong></li>
<ul>
<li>Ta p&aring; engangshansker om mulig</li>
<li>Plasser en steril bandasje over s&aring;ret</li>
<li>Press fast mot bandasjen</li>
<li>Fest bandasjen med en p&aring;rullingsbandasje som rulles rundt hodet</li>
<li>Dersom det bl&oslash;r igjennom, legg en ny steril kompress utenp&aring;</li>
</ul>
<li><strong>F&aring; den skadete til &aring; ligge ned&nbsp;</strong></li>
<ul>
<li>Hjelp den skadete til &aring; ligge ned med hode og skuldre lett hevet</li>
<li>Ta med deg eller send den skadete til lege, legevakt eller sykehus</li>
</ul>
<li><strong>Hodeskade</strong>?&nbsp;</li>
<ul>
<li>Dersom s&aring;ret skyldes et hardt slag mot hodet, m&aring; tilstanden behandles som en <a href="http://nhi.no/forside/forstehjelp/akuttmedisin/hodeskader-og-hjernerystelse-1236.html">hodeskade</a></li>
<li>F&oslash;lg med p&aring; eventuelle endringer i bevissthet</li>
</ul>
</ol>