<p><strong>Matinfeksjon</strong></p>
<p><strong>Hva er det?</strong></p>
<ul>
<li>All mat inneholder sm&aring; mengder med bakterier. Men n&aring;r mat blir h&aring;ndtert d&aring;rlig, kokes for lite eller lagres utilfredsstillende, kan bakterier formere seg i s&aring; store mengder at det kan for&aring;rsake sykdom&nbsp;</li>
<li>Parasitter, virus og kjemikalier kan ogs&aring; forurense mat, men slike kilder til matinfeksjon eller magetarmsykdom er uvanlige</li>
<li>Symptomer og tegn p&aring; matforgiftning avhenger av forurensningskilden. Vanligvis inntrer diar&eacute;, kvalme, magesmerter og noen ganger brekninger i l&oslash;pet av timer etter inntak av forurenset mat</li>
<li>Om du spiser bedervet mat, vil f&oslash;lgende faktorer avgj&oslash;re hvorvidt du blir syk: Type mikrobe, mengden du har f&aring;tt i deg, din alder og din helse</li>
<li>Risikogrupper er:&nbsp;</li>
<ul>
<li>Eldre mennesker. N&aring;r du blir eldre, vil ikke immunsystemet ditt reagere like raskt og effektivt mot infeksi&oslash;se organismer</li>
<li>Spedbarn og sm&aring;barn. Deres immunsystem er ikke fullt utviklet enda</li>
<li>Mennesker med kroniske sykdommer. F.eks. diabetes eller multippel sklerose, eller cellegift- eller str&aring;lebehandling kan svekke din immunrespons</li>
</ul>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Om du f&aring;r matforgiftning:&nbsp;</li>
<ul>
<li>Hvil deg og drikk rikelig med v&aelig;ske</li>
<li>Bruk ikke antidiar&eacute;-midler fordi de kan forsinke elimineringen av bakterier fra systemet ditt</li>
<li>Tilstanden blir vanligvis bra av seg selv</li>
</ul>
<li>Tilkall akuttmedisinsk hjelp dersom&nbsp;</li>
<ul>
<li>Du har kraftige symptomer, som vandig diar&eacute; som blir blodig i l&oslash;pet av 24 timer</li>
<li>Du tilh&oslash;rer en h&oslash;yrisiko-gruppe</li>
<li>Du mistenker botulisme (meget sjelden)&nbsp;</li>
<ul>
<li>Det er en mulig d&oslash;delig sykdom som skyldes inntak av et giftstoff som dannes av visse bakteriesporer i maten. Finnes oftest i hjemmelaget hermetisert mat og rakfisk. Symptomene kommer gjerne 12-36 timer etter inntak av den bedervede maten og kan best&aring; av symptomer som hodepine, synsforstyrrelser, muskelsvakhet og eventuelt lammelser</li>
</ul>
</ul>
</ul>