<p><strong>Menneskebitt</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<p>Hvis du utsettes for et menneskebitt som skj&aelig;rer gjennom huden, b&oslash;r du gj&oslash;re f&oslash;lgende:</p>
<ul>
<li>Stopp bl&oslash;dningen ved &aring; trykke mot s&aring;ret</li>
<li>Vask s&aring;ret grundig med s&aring;pe og vann</li>
<li>Sm&oslash;r p&aring; en antibiotikasalve for &aring; unng&aring; infeksjon (eks. Brulidin)</li>
<li>Legg p&aring; en ren bandasje</li>
<li>S&oslash;k akuttmedisinsk hjelp. Antibiotikabehandling vil ofte anbefales</li>
</ul>