<p><strong>Munn og ford&oslash;yelse</strong></p>
<p>&nbsp;</p>
<p><strong>Fremmedlegeme, nedsvelget</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Hvis du svelger ned et fremmedlegeme, vil det vanligvis passere gjennom ford&oslash;yelseskanalen din uten &aring; skape problem&nbsp;</li>
<li>Dog kan noen fremmedlegemer bli hengende fast i spiser&oslash;ret</li>
<li>Hvis et fremmedlegeme sitter fast i spiser&oslash;ret ditt, kan det v&aelig;re n&oslash;dvendig &aring; fjerne det, s&aelig;rlig hvis det:&nbsp;</li>
<ul>
<li>Er en spiss gjenstand - m&aring; fjernes raskt f&oslash;r det f&aring;r skadet spiser&oslash;ret eller slimhinnen i spiser&oslash;ret</li>
<li>Er et lite "knapp-liknende" batteri som du f.eks. finner i en kalkulator. De kan ganske raskt for&aring;rsake lokale vevsskader og b&oslash;r fjernes snarest</li>
</ul>
<li>Dersom et nedsvelget fremmedlegeme blokkerer luftveiene:&nbsp;</li>
<ul>
<li>Bruk <a href="http://nhi.no/forside/forstehjelp/luftveier/fremmedlegeme-i-luftveiene-10960.html"><span>Heimlichs man&oslash;ver</span></a> til &aring; fors&oslash;ke &aring; fjerne objektet hvis pasienten har pustevansker</li>
<li>Tilkall akuttmedisinsk hjelp</li>
</ul>
</ul>
<p><strong>Fremmedlegeme, nedsvelget &ndash; barn</strong></p>
<p>Symptomer</p>
<p>Fremmedlegemer som har passert spiser&oslash;ret, gir vanligvis ikke symptomer. Barn med fremmedlegeme som har festet seg i spiser&oslash;ret, kan v&aelig;re uten symptomer, eller de kan ha symptomer som varierer fra brekninger til pustevansker med hvesing til generell irritabilitet og endret atferd.</p>
<p>Behandling</p>
<p><strong>Fremmedlegeme som sitter fast i spiser&oslash;ret</strong></p>
<p>Et barn med mistenkt fremmedlegeme i spiser&oslash;ret, men med normalt r&oslash;ntgenbilde, anbefales henvist til endoskopi, dersom en slik unders&oslash;kelse er tilgjengelig. Dersom endoskopi ikke er tilgjengelig, vil legen vurdere &aring; gj&oslash;re kontrastr&oslash;ntgen etter &aring; ha konferert med magetarm-spesialist.</p>
<p>Barn som har svelget et skarpt, r&oslash;ntgen-gjennomsiktig objekt (f.eks. fiskeben) vil f&oslash;rst gjennomg&aring; en unders&oslash;kelse der legen titter ned i svelget (laryngoskopi). Dersom laryngoskopien er normal og symptomene vedvarer, vil det bli gjort endoskopi. Sm&aring; knappebatterier (f.eks. til en kalkulator) og skarpe objekter som befinner seg i spiser&oslash;ret, krever umiddelbar endoskopisk fjerning. Alle andre fremmedlegemer b&oslash;r fjernes eller dyttes ned i magesekken.&nbsp;</p>
<p>De fleste stumpe gjenstander i spiser&oslash;ret kan observeres i opptil 24 timer. Hvis gjenstanden ikke passerer ned i magesekken, b&oslash;r den fjernes eller skyves ned i magesekken. Gjenstander som har v&aelig;rt i spiser&oslash;ret lengre enn 24 timer, eller av ukjent varighet, b&oslash;r fjernes endoskopisk. Dersom gjenstanden har v&aelig;rt i spiser&oslash;ret lengre enn to uker, er det en betydelig risiko for skade p&aring; slimhinnen og tilliggende organer. Mynter er en av de vanligste gjenstander som barn svelger. Endoskopi er den anbefalte metoden for &aring; fjerne mynten.</p>
<p><strong>Fremmedlegeme som befinner seg nedenfor spiser&oslash;ret</strong></p>
<p>Selv om 90% av fremmedlegemene som har passert spiser&oslash;ret, vil passere gjennom magetarmkanalen av seg selv, anbefaler eksperter at skarpe objekter fjernes endoskopisk f&oslash;r de har passert forbi tolvfingertarmen. Skarpe objekter som ikke lar seg fjerne endoskopisk, b&oslash;r f&oslash;lges med daglig r&oslash;ntgen. Kirurgi vurderes dersom gjenstanden ikke har flyttet p&aring; seg i l&oslash;pet av tre dager.&nbsp;</p>
<p>Store gjenstander som ikke har passert tolvfingertarmen, b&oslash;r vurderes fjernet med endoskop p&aring; grunn av &oslash;kt risiko for tilstopping av tarmen. Noen eksperter anbefaler kirurgisk fjerning hos barn under 1 &aring;r n&aring;r diameteren p&aring; gjenstanden er over 2 cm eller lengden over 3 cm. Hos barn 1 &aring;r eller eldre kan objekter lengre enn 3-5 cm ha problem med &aring; passere, og legen vil vurdere endoskopisk fjerning.&nbsp;</p>
<p>Sm&aring;, stumpe gjenstander og gjenstander som ikke gir symptomer, og som er utenfor rekkevidde av endoskop, b&oslash;r observeres. De fleste gjenstander vil passere i l&oslash;pet av 4-6 dager, men noen ganger kan det ta opptil 4 uker. R&oslash;ntgentette gjenstander b&oslash;r f&oslash;lges med ukentlige r&oslash;ntgenbilder, og foreldrene b&oslash;r instrueres om &aring; f&oslash;lge med om gjenstanden passerer ut med avf&oslash;ringen.&nbsp;</p>
<p>Ethvert fremmedlegeme som ikke har passert magesekken i l&oslash;pet av 3-4 uker, b&oslash;r fjernes endoskopisk. Stumpe gjenstander som befinner seg nedenfor magesekken og som forblir p&aring; samme sted i mer enn &eacute;n uke, vurderes fjernet ved operasjon. Ethvert fremmedlegeme som for&aring;rsaker feber, brekninger, magesmerter eller betydelige symptomer vurderes fjernet umiddelbart.</p>
<p>Tidlig inngripen er n&oslash;dvendig hos barn som har svelget et knappebatteri, p&aring; grunn av risikoen for brannskade for&aring;rsaket av elektrisk str&oslash;m samt direkte etsende effekt. Forbrenninger kan oppst&aring; s&aring; tidlig som fire timer etter inntak. Knappebatterier som blir i magesekken i mer enn 48 timer, eller som har st&oslash;rre diameter enn 2 cm, b&oslash;r fjernes endoskopisk. Hvis batteriet har passert forbi tolvfingertarmen, vil 85% av batteriene passere ukomplisert gjennom magetarmkanalen i l&oslash;pet av mindre enn 72 timer. R&oslash;ntgen vil som regel bli tatt hver 3.-4. dag for &aring; f&oslash;lge passasjen av batteriet inntil det er kvittert.</p>
<p>&nbsp;</p>