<p><strong>Nesebl&oslash;dning</strong></p>
<p><strong>Hva er det?</strong></p>
<ul>
<li>Nesebl&oslash;dninger er vanlige&nbsp;</li>
<li>Som regel er det en plage og ikke et egentlig medisinsk problem. Men det kan v&aelig;re begge deler</li>
<li>Blant barn og unge&nbsp;</li>
<ul>
<li>Nesebl&oslash;dning oppst&aring;r p&aring; fremre del av neseskilleveggen, like p&aring; innsiden av nesen</li>
</ul>
<li>Blant middelaldrende og eldre&nbsp;</li>
<ul>
<li>Nesebl&oslash;dning kan oppst&aring; p&aring; neseskilleveggen, men bl&oslash;dningen kan ogs&aring; oppst&aring; dypere inne i nesen</li>
<li>Bl&oslash;dninger langt inne i nesen er ganske sjeldne og kan skyldes stive blod&aring;rer eller h&oslash;yt blodtrykk. Disse bl&oslash;dningene starter av seg selv og er ofte vanskelige &aring; stoppe. De krever spesialistbehandling</li>
</ul>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>Sitt oppreist med overkroppen lett fremoverb&oslash;yd</li>
<li>Klem sammen neseborene og hold i 10-20 minutter (ta tiden!)&nbsp;</li>
<ol>
<li>Den fremre og myke delen av nesen klemmes sammen mellom to fingre</li>
<li>Klem fast, men ikke slik at det gj&oslash;r vondt</li>
</ol>
<li>V&aelig;r t&aring;lmodig, ikke slipp opp for &aring; se om bl&oslash;dningen har stanset under veis</li>
<li>Skyll munnen flere ganger med kaldt vann, b&aring;de mens du klemmer og etterp&aring;.</li>
<li>Puss nesen meget forsiktig for &aring; fjerne koagler</li>
<li>Ikke svelg blodet</li>
<li>Hvis bl&oslash;dningen ikke stopper: Ta kontakt med lege. Legen kan legge inn en tampong som stanser bl&oslash;dningen. Ikke pr&oslash;v &aring; putte bomull eller lignende opp i nesen selv</li>
<li>Dersom du har tilgang p&aring; nesedr&aring;per (Otrivin<span><sup>&reg;</sup></span> eller lignende) kan det hjelpe &aring; spraye eller dryppe dette i nesen f&oslash;r du starter klemmingen</li>
<li>Det kan ogs&aring; hjelpe &aring; legge en kald klut over neseryggen mens du klemmer</li>
</ol>
<p><strong>Utfyllende informasjon</strong></p>
<ul>
<li>Sitt eller st&aring;. Ved &aring; v&aelig;re i oppreist stilling reduserer du trykket p&aring; blod&aring;rene i nesen. Det vil minske bl&oslash;dningen.&nbsp;</li>
<li>Klem fremre del av nesen. Det klemmer av bl&oslash;dningspunktet p&aring; neseskilleveggen og stopper som regel bl&oslash;dningen.</li>
<li>Ikke bruk is p&aring; nesen. Det har liten eller ingen virkning. Kulden bidrar bare til at de overflatiske &aring;rene i nesen trekker seg sammen, mens de dypere som bl&oslash;r, er up&aring;virket.</li>
<li>Er du mye plaget med nesebl&oslash;dning, kan du forebygge bl&oslash;dning ved &aring; &oslash;ke fuktigheten i luften du puster inn hjemme. En luftfukter kan bidra til &aring; holde neseslimhinnen fuktig. &Aring; sm&oslash;re vaselin eller liknende sm&oslash;remiddel p&aring; fremre del av neseskilleveggen kan ogs&aring; hjelpe.</li>
<li>For &aring; hindre ny bl&oslash;dning etter at en bl&oslash;dningsepisode har stanset, er det viktig at du unng&aring;r &aring; pirke og plukke i nesen, og du b&oslash;r heller ikke bl&aring;se kraftig i nesen, p&aring; flere timer, og ikke b&oslash;y deg ned. Hold hodet h&oslash;yere enn niv&aring;et for hjertet.</li>
<li>Om du begynner &aring; bl&oslash; p&aring; nytt, snyt deg kraftig for &aring; rense nesen for blodlevrer, eventuelt kan du spraye begge neseborene med slimhinneavsvellende nesespray (eks. Otrivin). Klem over nesen som beskrevet ovenfor, og ta kontakt med lege dersom du ikke f&aring;r kontroll over bl&oslash;dningen.</li>
</ul>
<p><strong>S&oslash;k akuttmedisinsk hjelp hvis</strong></p>
<ul>
<li>Bl&oslash;dningen varer lengre enn 15-30 minutter</li>
<li>Du f&oslash;ler deg svak og vil besvime, noe som kan skyldes et stort blodtap</li>
<li>Bl&oslash;dningen er kraftig og blodtapet er stort</li>
<li>Bl&oslash;dningen starter ved at det begynner &aring; dryppe bak i halsen din</li>
</ul>
<p><strong>S&oslash;k lege hvis</strong></p>
<ul>
<li>Du opplever hyppige nesebl&oslash;dninger</li>
<li>Det kan v&aelig;re nyttig &aring; f&aring; "brent", lukket, de sm&aring; blodkarene som for&aring;rsaker bl&oslash;dningene&nbsp;</li>
<ul>
<li>Det kan gj&oslash;res med elektrisk str&oslash;m, med s&oslash;lvnitrat eller med laser under lokalbed&oslash;velse</li>
</ul>
</ul>
<p><strong>Hos barn</strong></p>
<ul>
<li>Hyppige nesebl&oslash;dninger hos barn kan skyldes en godartet svulst</li>
<li>Den forekommer omkring puberteten hos gutter, men er sjelden blant jenter</li>
<li>Den kan forsvinne av seg selv etter puberteten, men den kan ogs&aring; vokse og stenge for nesepassasjen og bihulene og gi hyppige og kraftige nesebl&oslash;dninger</li>
<li>Hvis svulsten ikke g&aring;r tilbake, kan det v&aelig;re n&oslash;dvendig &aring; gj&oslash;re et kirurgisk inngrep</li>
</ul>
<p><strong>N&aring;r du ringer 113</strong></p>
<ul>
<li>Selv om du er oppskaket, er det viktig at du pr&oslash;ver &aring; opptre behersket og effektivt p&aring; telefonen. F&oslash;lgende huskeliste er grei &aring; ha i bakhodet</li>
</ul>
<ol>
<li>Husk &aring; oppgi hvem som ringer, og hvor du ringer fra</li>
<li>Hva har hendt?</li>
<li>N&oslash;yaktig stedsangivelse, eventuelt avtale m&oslash;tested</li>
<li>Unng&aring; misforst&aring;elser, f&aring; meldingen din bekreftet fra den du snakker med</li>
</ol>