<p><strong>Nesebl&oslash;dning</strong></p>
<p><strong>Hva er det?</strong></p>
<ul>
<li>Nesebl&oslash;dninger er vanlige&nbsp;</li>
<li>Som regel er det en plage og ikke et egentlig medisinsk problem. Men det kan v&aelig;re begge deler</li>
<li>Blant barn og unge&nbsp;</li>
<ul>
<li>Nesebl&oslash;dning oppst&aring;r p&aring; fremre del av neseskilleveggen, like p&aring; innsiden av nesen</li>
</ul>
<li>Blant middelaldrende og eldre&nbsp;</li>
<ul>
<li>Nesebl&oslash;dning kan oppst&aring; p&aring; neseskilleveggen, men bl&oslash;dningen kan ogs&aring; oppst&aring; dypere inne i nesen</li>
<li>Bl&oslash;dninger langt inne i nesen er ganske sjeldne og kan skyldes stive blod&aring;rer eller h&oslash;yt blodtrykk. Disse bl&oslash;dningene starter av seg selv og er ofte vanskelige &aring; stoppe. De krever spesialistbehandling</li>
</ul>
</ul>