<p><strong>Punkts&aring;r</strong>&nbsp;</p>
<p><strong>Diagnosen</strong></p>
<ul>
<li>Et punkts&aring;r gir vanligvis ingen st&oslash;rre bl&oslash;dning. Ofte er det en liten bl&oslash;dning og s&aring;ret synes &aring; lukke seg umiddelbart. Dette betyr ikke at behandling ikke er p&aring;krevet</li>
<li>Et stikks&aring;r, f.eks. fra &aring; ha tr&aring;kket p&aring; en spiker eller blitt stukket av en stift eller liten spiker, kan inneb&aelig;re en risiko for infeksjon. Objektet som for&aring;rsaket s&aring;ret kan f&oslash;re med seg sporer av stivkrampe eller andre bakterier, s&aelig;rlig hvis objektet har blitt tils&oslash;let med jord</li>
<li>Punkts&aring;r fra menneske- eller dyrebitt er s&aelig;rlig utsatte for infeksjon. Var bittet dypt nok til at det bl&oslash;r, b&oslash;r man s&oslash;ke medisinsk hjelp</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li><strong>Stans bl&oslash;dningen&nbsp;</strong></li>
<ul>
<li>Mindre kutt og skraper stopper vanligvis &aring; bl&oslash; av seg selv. Hvis de ikke gj&oslash;r det, trykk bestemt mot s&aring;ret med et rent t&oslash;ystykke eller bandasje</li>
<li>Dersom bl&oslash;dningen vedvarer, blodet spruter eller fortsetter &aring; flyte etter flere minutter med trykk, s&oslash;k akuttmedisinsk hjelp</li>
</ul>
<li><strong>Rengj&oslash;r s&aring;ret&nbsp;</strong></li>
<ul>
<li>Rens s&aring;ret med rent vann. Ikke bruk s&aring;pe, det kan irritere s&aring;ret. Hvis det fortsatt er skitt og fremmedlegemer i s&aring;ret etter rengj&oslash;ring, b&oslash;r du bruke pinsett rengjort med alkohol til &aring; fjerne partiklene</li>
<li>Om fremmedlegemer fortsatt blir igjen i s&aring;ret, b&oslash;r du kontakte lege</li>
<li>Grundig s&aring;rrengj&oslash;ring reduserer risikoen for stivkrampe. Til &aring; rengj&oslash;re omr&aring;det rundt s&aring;ret, bruk s&aring;pe og vaskeklut. Du kan ogs&aring; bruke ulike desinfiserende midler</li>
</ul>
<li><strong>Sm&oslash;r p&aring; s&aring;rsalve&nbsp;</strong></li>
<ul>
<li>Etter at du har rengjort s&aring;ret, kan du sm&oslash;re p&aring; et tynt lag med en s&aring;rsalve (eks. Brulidin)</li>
<li>Det f&aring;r ikke s&aring;ret til &aring; gro raskere, men det kan bidra til &aring; forhindre infeksjon</li>
</ul>
<li><strong>Dekk s&aring;ret&nbsp;</strong></li>
<ul>
<li>F&aring;r s&aring;ret ligge &aring;pent, p&aring;skynder det tilheling</li>
<li>Men bandasjer hjelper til &aring; holde s&aring;ret rent og holde skadelige bakterier borte</li>
<li>Skift bandasje minst daglig eller n&aring;r den blir v&aring;t eller skitten</li>
</ul>
<li><strong>Se etter tegn til infeksjon&nbsp;</strong></li>
<ul>
<li>S&oslash;k lege dersom s&aring;ret ikke tilheler eller hvis det er tegn til r&oslash;dhet, v&aelig;skesiving, lokal varme eller hevelse</li>
</ul>
</ul>