<p><strong>R&oslash;ykskader</strong></p>
<p>&nbsp;</p>
<p><strong>F&oslash;rstehjelp</strong></p>
<p>N&aring;r en person har v&aelig;rt utsatt for inhalasjon av r&oslash;yk, m&aring; det umiddelbart gj&oslash;res unders&oslash;kelser av vedkommendes luftveier, pustefunksjon og blodoml&oslash;p (sirkulasjon).</p>
<p>&nbsp;</p>
<p><strong>Forbrenning av ansikt og hode</strong></p>
<ul>
<li>Hvis forbrenningene er i munnen eller halsen, s&aring; kan du vanligvis se ytre tegn p&aring; forbrenning, som sot rundt munnen</li>
<li>For slike skader er akuttmedisinsk hjelp livsviktig</li>
</ul>
<p>&nbsp;Symptomer og tegn:</p>
<ul>
<li>Sv&aelig;rt smertefull munn, hals og hode&nbsp;</li>
<li>Pustevansker</li>
<li>Skadet hud og/eller sot rundt munnen</li>
<li>Sjokk kan utvikle seg</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>Ring 113 etter ambulanse straks&nbsp;</li>
<ul>
<li>Forklar at du mistenker brannskader i luftveiene og at den skadete har pustevansker&nbsp;</li>
</ul>
<li>Bedre lufttilf&oslash;rselen&nbsp;</li>
<ul>
<li>Gj&oslash;r det du kan for &aring; bedre den skadetes lufttilf&oslash;rsel som &aring; l&oslash;sne p&aring; stramtsittende kl&aelig;r rundt halsen</li>
</ul>
<li>Behandle <a href="http://nhi.no/forside/forstehjelp/medisinske-problemer/sjokk-11101.html"><span>sjokk</span></a> om n&oslash;dvendig</li>
<li>Den skadete er bevisstl&oslash;s&nbsp;</li>
<ul>
<li>Sjekk om den skadete puster</li>
<li>Legg den skadete i <a href="http://nhi.no/forside/forstehjelp/ulykke/sideleie-1239.html"><span>sideleie</span></a> og sjekk om vedkommende puster</li>
<li>Gj&oslash;r deg klar til &aring; begynne gjenoppliving (<a href="http://nhi.no/forside/forstehjelp/bevisstloshet/hjertelungeredning-barn-18584.html"><span>barn</span></a>/<a href="http://nhi.no/forside/forstehjelp/bevisstloshet/hjertelungeredning-voksen-1235.html"><span>voksen</span></a>) om n&oslash;dvendig</li>
</ul>
</ol>
<p><strong>Forbrenning av hodet</strong></p>
<ul>
<li>Kj&oslash;l ned det brente omr&aring;det</li>
<li>Om mulig b&oslash;r du bruke en flaske eller vannekanne eller noe liknende slik at du kan helle eller la det renne vann over hodet. Legg en h&aring;ndduk eller liknende over skuldrene for &aring; fange opp vannet. La det gjerne renne i 10-20 min</li>
<li>Hvis forbrenningen er n&aelig;r halsen, nesen eller munnen, b&oslash;r du forberede deg p&aring; gjenoppliving</li>
<li>Ta p&aring; deg engangshansker om mulig. Plasser en kompress over brannskaden, men ikke bandasjer den p&aring; plass. Om n&oslash;dvendig holder du kompressen p&aring; plass til hjelp kommer</li>
</ul>