<p><strong>S&aring;r i munnen</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>Hold luftveiene klare&nbsp;</li>
<ul>
<li>F&aring; den skadete til &aring; sette seg ned</li>
<li>B&oslash;y vedkommende forover og mot den skadde siden for &aring; hjelpe til &aring; drenere vekk blod og holde luftveiene klare</li>
</ul>
<li>Press mot s&aring;ret&nbsp;</li>
<ul>
<li>Bruk engangshansker om mulig</li>
<li>Dekk s&aring;ret med en gazkompress</li>
<li>Be den skadete &aring; presse kompressen mot s&aring;ret i 10 minutter</li>
</ul>
<li>Dersom det bl&oslash;r fra en tannsokk&nbsp;</li>
<ul>
<li>Legg en gazkompress over tannsokken. Den b&oslash;r v&aelig;re tykk nok til at tennene oppe og nede ikke m&oslash;tes</li>
<li>Be den skadete &aring; bite p&aring; kompressen i 10 minutter</li>
</ul>
<li>Dersom det bl&oslash;r lengre enn 30 minutter&nbsp;</li>
<ul>
<li>B&oslash;r du s&oslash;ke lege eller tannlege</li>
</ul>
<li>Ikke drikk noe varmt&nbsp;</li>
<ul>
<li>Den skadete b&oslash;r ikke drikke noe varmt de f&oslash;rste 12 timene etter at bl&oslash;dningen har stanset</li>
</ul>
</ol>