<p><strong>Slangebitt</strong></p>
<p><strong>Bakgrunn</strong></p>
<ul>
<li>Hoggorm er den eneste giftige slangen i Norge, minst 30% av bitt fra denne er s&aring;kalte "t&oslash;rre bitt" (uten gift), og ingen reaksjon oppst&aring;r</li>
<ul>
<li>Barn er spesielt f&oslash;lsomme for huggormgift</li>
</ul>
<li>I varmere deler av verden finnes flere giftige slanger, og det kan v&aelig;re viktig &aring; f&aring; formidlet hvilken slange som st&aring;r for bittet</li>
<ul>
<li>Fors&oslash;k aldri &aring; fange en slange som har bitt, da er sjansen stor for &aring; bli bitt p&aring; nytt</li>
<li>Et bilde med et digitalt kamera kan v&aelig;re en god l&oslash;sning</li>
</ul>
<li>For &aring; hindre spredning av slangegift i kroppen b&oslash;r pasienten og bittstedet holdes i ro</li>
</ul>
<p><strong>Typiske symptomer og tegn</strong></p>
<ul>
<li>Et eller to punktmerker i huden etter slangebittet&nbsp;</li>
<li>Smerte, r&oslash;dhet og muligens hevelse</li>
<li>Kvalme og brekninger</li>
<li>Synsforstyrrelse</li>
<li>Svetting</li>
<li>Alle med symptomer, utover milde reaksjoner rundt bittstedet, skal til sykehus</li>
<li>Ta kontakt med lokale helsemyndigheter om du er usikker. Enkelte slangegifter gir ikke symptomer f&oslash;r flere timer etter bittet</li>
</ul>
<p><strong>F&oslash;rstehjelp</strong></p>
<ul>
<li>Trekk pasienten unna/sikre skadestedet slik at b&aring;de pasient og behandler unng&aring;r nye slangebitt</li>
<li>F&aring; pasienten til &aring; legge seg ned&nbsp;</li>
<ul>
<li>Be vedkommende legge seg ned og v&aelig;re i ro for &aring; forsinke spredningen av gift i kroppen</li>
<ul>
<li>Fors&oslash;k &aring; unng&aring; panikk-stemning rundt pasienten. Indre uro &oslash;ker hastigheten p&aring; giftspredningen</li>
</ul>
<li>Ikke gi pasienten mat eller drikke. Alt av legemidler b&oslash;r unng&aring;s inntil man har forsikret seg om at disse ikke har en negativ virkning p&aring; pasienten</li>
<li>Fjern ringer/kl&aelig;r eller liknende som kan bli vanskelig &aring; fjerne dersom bittstedet blir hovent</li>
<li>La bittstedet v&aelig;re i fred. Om man klemmer, skj&aelig;rer eller suger i bittet forverrer dette skaden&nbsp;</li>
</ul>
<li>Ring 113/lokal n&oslash;dtelefon&nbsp;</li>
<ul>
<li>Beskriv om mulig slangen slik at sykehuset vet hvilken anti-slangegift som eventuelt skal gis (gjelder s&aelig;rlig i utlandet)</li>
<li>Pasienten b&oslash;r fraktes til et lokalt sykehus s&aring; raskt som mulig</li>
<li>Ulike slangebitt behandles p&aring; ulikt sett, lokal n&oslash;dtelefonen vil gi riktige r&aring;d for omr&aring;det</li>
</ul>
<li>Hold bittstedet i ro&nbsp;</li>
<ul>
<li>Beskytte bittstedet med sammenrullede tepper eller h&aring;ndkle</li>
</ul>
<li>Hvis pasienten blir bevisstl&oslash;s&nbsp;</li>
<ul>
<li>S&oslash;rg for frie luftveier og at pasienten puster</li>
<li>Legg vedkommende i sideleie hvis vedkommende puster. V&aelig;r klar til &aring; begynne med gjenoppliving om n&oslash;dvendig</li>
</ul>
</ul>
<p>&nbsp;</p>