<p><strong>Solbrenthet</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<p>F&aring; vedkommende ut av sola</p>
<p>Ta et kaldt bad eller en dusj</p>
<p>Sm&oslash;r p&aring; alovera lotion eller liknende kj&oslash;lende oppl&oslash;sning/salve flere ganger om dagen</p>
<p>La blemmer v&aelig;re intakte for &aring; p&aring;skynde tilhelingen og unng&aring; infeksjon. Om de brister, b&oslash;r du sm&oslash;re p&aring; s&aring;rsalve (eks. Brulidin) i s&aring;rkanten. Dekk med steril gas</p>
<p>Om n&oslash;dvendig kan du innta et mildt smertestillende middel, eks. paracetamol, ibuprofen</p>
<p>Sm&oslash;r p&aring; en mild kortisonsalve ved s&aelig;rlig ubehagelig solforbrenning</p>
<p>Begynner det solforbrente omr&aring;det &aring; blemme seg eller du opplever andre raskt innsettende ubehag som utslett, kl&oslash;e eller feber, m&aring; du ta kontakt med lege</p>