<p><strong>L&oslash;s tann</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<ol>
<li>Grip kun tak i toppen av tanna, ikke r&oslash;r r&oslash;ttene!</li>
<li>Ikke gni eller skrap p&aring; tanna for &aring; fjerne skitt</li>
<li>Rens tannen forsiktig i en bolle med vann fra springen. Ikke hold den under rennende vann</li>
<li>Fors&oslash;k &aring; sette tannen tilbake i "sokken" der den sto</li>
<li>Bit s&aring; forsiktig igjen med en gasbit eller en fuktet tepose mellom tennene for &aring; holde tanna p&aring; plass</li>
<li>Hvis du ikke f&aring;r til &aring; sette tilbake tanna i "sokken", b&oslash;r du umiddelbart legge den i melk, ditt eget spytt eller i en lunken saltvannsoppl&oslash;sning (1 ts salt til 1 liter vann)</li>
<li>Ta kontakt med tannlege snarest</li>
</ol>