<p><strong>Tannpine</strong></p>
<p><strong>F&oslash;rstehjelp</strong></p>
<p>Inntil du kommer til tannlegen, kan du pr&oslash;ve f&oslash;lgende:</p>
<ul>
<li>Bruk tanntr&aring;d til &aring; fjerne matpartikler som befinner seg mellom tennene dine</li>
<li>Pr&oslash;v &aring; suge p&aring; en isbit i det omr&aring;det i munnen der smerten kommer i fra. Noen ganger kan is hjelpe, andre ganger blir det verre</li>
<li>Ta smertestillende medisin, eks. paracetamol</li>
<li>&Aring; klemme p&aring; tannen kan hos noen gi lindring i noen sekunder</li>
<li>Infeksjon?&nbsp;</li>
<ul>
<li>Hevelse, smerte n&aring;r du biter, vond smak i munnen og r&oslash;dhet tyder p&aring; infeksjon</li>
<li>Ta kontakt med tannlege snarest!</li>
</ul>
</ul>